stages:
  - deploy-docs

build-sphinx:
  image: python:3.12-alpine
  stage: deploy-docs
  script:
  - pip install -U sphinx sphinx-rtd-theme django
  - sphinx-build -b html ./docs public
  pages: true # specifies that this is a Pages job
  artifacts:
    paths:
    - public
  publish: public
  only:
    - main
